.cards {
  perspective: 1200px;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;

  -webkit-transform-origin: 100% center;
  -moz-transform-origin: 100% center;
  -ms-transform-origin: 100% center;
  transform-origin: 100% center;
}

.card {
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card.flipped {
  transform: rotateX(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-front {
  z-index: 2;
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

.card-back {
  transform: rotateX(180deg);
}

.keyword-description {
  transition: all 0.4s 0s;
}

.set-keyword:hover .keyword-description {
  @apply max-h-24;
}

.set-keyword:hover .keyword-description.big-size {
  @apply max-h-48;
}

.set-keyword:hover .keyword-description-text {
  @apply opacity-100;
}
