@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ol,
ul,
li,
form,
label,
footer,
header,
menu,
nav,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html {
  height: 100%;
}
body {
  @apply bg-slate-800 text-white;
}
ol,
ul {
  list-style: none;
}

.main-color {
  @apply bg-slate-800;
}

.secondary-color {
  @apply bg-slate-700;
}

.cta-color {
  @apply bg-orange-400;
}
