@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ol,
ul,
li,
form,
label,
footer,
header,
menu,
nav,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html {
  height: 100%;
}
input,
textarea {
  @apply outline-none !important;
}

body {
  @apply bg-slate-800 text-white overflow-x-hidden;
}
ol,
ul {
  list-style: none;
}

.main-color {
  @apply bg-slate-800;
}

.secondary-color {
  @apply bg-slate-700;
}

.cta-color {
  @apply bg-orange-400;
}

.div-padding {
  @apply px-32;
}

.btn {
  @apply px-8 py-1 bg-teal-400 text-slate-900 rounded-md text-2xl transition-colors hover:bg-teal-300;
}

.set-form-input {
  @apply w-[36rem];
}

.modal {
  box-shadow: 0px 0px 0px 1000px rgba(0, 0, 0, 0.6);
}

.stop-scrolling {
  @apply overflow-hidden;
}
